.App {
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: 'Gotham PRO';
  src: local('GothamPRO'), url(./fonts/GothamPro.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotham PRO';
  font-weight: 900;
  src: local('GothamPRO'), url(./fonts/GothamPro.ttf) format('truetype');
}
